audio:focus, audio:active {
    -webkit-box-shadow: 2px 8px 20px rgba(0,0,0, 0.16);
    -moz-box-shadow: 2px 8px 20px rgba(0,0,0, 0.16);
    box-shadow: 2px 8px 20px rgba(0,0,0, 0.16);
}


audio {
    -webkit-transition:all 0.37s ease-in-out;
    -moz-transition:all 0.37s ease-in-out;
    -o-transition:all 0.37s ease-in-out;
    transition:all 0.37s ease-in-out;
    -moz-border-radius: $border-full;
    -webkit-border-radius: $border-full;
    border-radius: $border-full;
}