.number {
  color: $green;
  background-color: lighten($green, 37%) !important;
  border-radius: 1.25rem;
  padding: 4px 12px;
}

.text-arab {
  font-size: 1.75rem;
  font-family: $font-family-arabic;
  line-height: 2;
}
