$grey: #b5b2cd;
$green: #2fbfa0;
$broken-white: #f0f6ff;
$dark-grey: #617182;
$dark-white: #d8e3ef;
$black: #000 !default;

$border-radius: 0.5rem !default;
$border-radius-md: 1.25rem !default;

$white: #fff !default;
$gray-100: #f4f5f7 !default;
$gray-200: #ebecf0 !default;
$gray-300: #dfe1e6 !default;

$box-shadow: 0 0 6px 0 rgba($black, 0.06);
$box-shadow-card: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);

$text-grey: #a2bcd9;